*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* background-image: url(./newImages/neom-Nowd8MgUK8A-unsplash.jpg); */
}

.html{
    font-size: 62.5%;
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines{
    display: none;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index: 100;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}
.logo{
    order: 1;
    font-size: 2.3rem;
}

.menu-items li{
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.3rem;
}

.navbar a{
    color: #444;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.navbar a:hover{
    color: #117964;
}

@media (max-width: 768px){
    .navbar{
        opacity: 0.95;
    }

    .navbar-container input[type="checkbox"],
    .navbar-container .hamburger-lines{
        display: block;
    }

    .navbar-container{
        display: block;
        position: relative;
        height: 64px;
    }

    .navbar-container input[type="checkbox"]{
        position: absolute;
        display: block;
        height: 32px;
        width: 30px;
        top: 20px;
        left: 20px;
        z-index: 5;
        opacity: 0;
        cursor: pointer;
    }

    .navbar-container .hamburger-lines{
        display: block;
        height: 28px;
        width: 35px;
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar-container .hamburger-lines .line{
        display: block;
        height: 4px;
        width: 100%;
        border-radius: 10px;
        background: #333;
    }
    
    .navbar-container .hamburger-lines .line1{
        transform-origin: 0% 0%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar-container .hamburger-lines .line2{
        transition: transform 0.2s ease-in-out;
    }

    .navbar-container .hamburger-lines .line3{
        transform-origin: 0% 100%;
        transition: transform 0.3s ease-in-out;
    }

    .navbar .menu-items{
        padding-top: 100px;
        background: #fff;
        height: 100vh;
        max-width: 300px;
        transform: translate(-150%);
        display: flex;
        flex-direction: column;
        margin-left: -40px;
        padding-left: 40px;
        transition: transform 0.5s ease-in-out;
        box-shadow:  5px 0px 10px 0px #aaa;
        overflow: scroll;
    }

    .navbar .menu-items li{
        margin-bottom: 1.8rem;
        font-size: 1.1rem;
        font-weight: 500;
    }

    .logo{
        position: absolute;
        top: 10px;
        right: 15px;
        font-size: 2.5rem;
    }

    .navbar-container input[type="checkbox"]:checked ~ .menu-items{
        transform: translateX(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1{
        transform: rotate(45deg);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2{
        transform: scaleY(0);
    }

    .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3{
        transform: rotate(-45deg);
    }

}

@media (max-width: 500px){
    .navbar-container input[type="checkbox"]:checked ~ .logo{
        display: none;
    }
}

ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: url(https://i.imgur.com/GbE0hrL.jpg) no-repeat center center;
    background-size: cover;
}

footer {
    margin-top: 250px;
}

.my-info h4 {
    font-weight: 100;
    letter-spacing: 1.5px;
}

.my-info h1 {
    padding-top: 10px;
    padding-bottom: 20px;
    letter-spacing: 4px;
    font-size: 70px;
    font-weight: bold;
}

.my-info h1, .my-info h4 {
    text-shadow: rgb(3, 2, 2) -3px 1px 13px;
    color: #fff;
}

.navbar.navbar-default {
    background-color: rgba(110,110,110, 0);
    /*background-color: transparent;*/
    border-color: transparent;
    font-weight: 700;
    letter-spacing: 1px;
}

.navbar-default .navbar-nav li a,
.navbar-default .navbar-brand {
    color: #1abc9c;
    text-shadow: 0px 0px 6px rgba(0, 47, 79, 1);
    transition: all ease .5s;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar .container .navbar-brand {
    background-color: transparent;
    color: #1abc9c;
    transition: all ease .5s;
}

.navbar-default .navbar-nav > .active {
    border-bottom: 3px solid #1abc9c;
}

.navbar-header .navbar-toggle {
    border: 2px solid #1abc9c;
}

.navbar-header .navbar-toggle .icon-bar {
    background: #1abc9c;
}

.my-info {
    margin-top: 180px;
    margin-bottom: 110px;
}
.arrow-main {
    position: relative;
    height: 100%;
}

.arrow-wrap {
    position: relative;
}

.ziplines,
.basejumps {
    font-size: 1.1em;
    text-transform: uppercase;
}

/* the wrapper element that will become the outer circle */
.arrow-wrap {
  z-index:1;
  background:#1abc9c;
  width:10em;
  height:10em;
  padding:4em 2em;
  border-radius:50%;
  font-size:0.5em;
  display:block;
  box-shadow:0px 0px 5px 0px #333;
}

/* a triangle to make the main part of the arrow. Adjust the border-color to fit your needs */
.arrow {
  float:left;
  position:relative;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #ffffff transparent transparent transparent;
  -webkit-transform:rotate(360deg);/* added for better anti-aliasing on webkit browsers */
}

/* a pseudo element arrow placed on top of the other one with the same color as the wrapper */
.arrow:after {
  content:'';
  position:absolute;
  top:-3.5em;
  left:-3em;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3em 3em 0 3em;
  border-color: #1abc9c transparent transparent transparent;
  -webkit-transform:rotate(360deg);/* added for better anti-aliasing on webkit browsers */
}

@-webkit-keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
  }

.arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 3s;
}

.navbar-shrink a {
    margin: 0;
    font-size: 0.9em;
    text-shadow: none;
    transition: all ease .5s;
}

body div.navbar.navbar-shrink {
    background-color: rgba(110, 110, 110, 0.9);
}

#ziplines,
#basejumps {
    margin-top: 150px;
}

#ziplines h1,
#basejumps h1 {
    font-weight: 700;
}

#ziplines img,
#basejumps img {
    height: 200px;
}

#ziplines h4,
#basejumps h4 {
    font-style: italic;
}

#ziplines .col-lg-12,
#basejumps .col-lg-12 {
    padding-bottom: 15px;
}

#ziplines .portfolio-link,
#basejumps .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

.portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1abc9c;
    transition: all ease .5s;
    opacity: 0;
}

.portfolio-hover .fa {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -21px;
    margin-left: -21px;
    color: #fff;
}

/* .portfolio-hover:hover {
    opacity: .7;
} */

#ziplines h4.fcc-name,
#basejumps h4.fcc-name {
    font-style: normal;
    margin-top: 40px;
}

#ziplines .row,
#basejumps .row {
    margin-top: 40px;
}

.in-development .portfolio-hover {
    background-color: rgba(0,0,0, .75);
    opacity: 1;
}

.in-development:hover {
    cursor: default;
}

footer {
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: #2f2f2f;
}

button.circular {
    background-color: #2f2f2f;
    border: 2px solid #96979e;
    border-radius: 10em;
    width: 50px;
    height: 50px;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.social a {
    color: #96979e;
}

.social button:focus {
    outline: none;
}

.social a:hover {
    color: #1abc9c;
}

.social a:hover button {
    border-color: #1abc9c;
    transition: all ease .5s;
}

.copyright a {
    color: #96979e;
    line-height: 4em;
}

.copyright a:hover {
    color: #1abc9c;
    transition: all ease .5s;
}

